<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link
      rel="stylesheet"
      href="{{  url_for('static', filename='style.css')  }}"
    /> -->
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script
      src="https://kit.fontawesome.com/0628ea1538.js"
      crossorigin="anonymous"
    ></script>
    <script>
      // document.addEventListener("DOMContentLoaded", () => {
      //   getDB();
      // });
      // var results = [];
      // function getDB() {
      //   $.ajax({
      //     type: "GET",
      //     url: "/api/list",
      //     // async: false,
      //     data: {},
      //     success: function (response) {
      //       var result = response["songs_data"];
      //       console.log(result);
      //     },
      //   });
      // }
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <div id="header_title"></div>
      </header>
      <main>
        <div id="left-control">
          <div id="menu-btn"><i class="fas fa-bars"></i></div>
        </div>
        <div id="playerContainer">
          <div id="player"></div>
          <div id="cd-player">
            <div id="cdOutHallLine2">
              <div id="cdOutHallLine">
                <div id="cdOutHall">
                  <div id="cdImg"><div id="cdInHall"></div></div>
                </div>
              </div>
            </div>
          </div>
          <div id="player-string"></div>
        </div>
        <ul id="right-control">
          <li id="play-btn"><i class="fas fa-play"></i></li>
          <li id="pause-btn"><i class="fas fa-pause"></i></li>
          <li id="previous-btn"><i class="fas fa-backward"></i></li>
          <li id="next-btn"><i class="fas fa-forward"></i></li>
        </ul>
      </main>
      <footer></footer>
    </div>
    <script>
      const result = [];
      for (let i = 0; i < 4; i++) {
        result.push(
          {
            rank: 1,
            title: "title1",
            artist: "singer1",
            cdImg:
              "https://i.ytimg.com/vi/mLCsbacHxA8/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLApBh0huJeaQb8ukg0_p3uEbLpVqg",
            aLink: "VAQFKDfAy8E",
          },
          {
            rank: 2,
            title: "title2",
            artist: "singer2",
            cdImg:
              "https://w.namu.la/s/d7de06a7e230e8f07fcbe55ab33f40dcbfdf4fd0fd6d4009038dff373e382c0353347208b05b22f84e9e26e65e7ee316e52b38274538881688b493b11c582f0bf944dda7712d2fcc56f1c46a2b19a971",
            aLink: "39lo6iQVFQM",
          },
          {
            rank: 3,
            title: "title3",
            artist: "singer3",
            cdImg:
              "https://w.namu.la/s/3db13b3fdd97ce006e49fa8be1ee4ca464806aa4d559b44e72a4fdd43d7cddc7f23cb592ca44e4c38209e9964ec0d5df6186fb3705ff348f0105c467ca70a52991fc8e99e0722cbacea3f71d2baa367b",
            aLink: "3pqo0gLiMHQ",
          },
          {
            rank: 4,
            title: "title4",
            artist: "singer4",
            cdImg:
              "https://w.namu.la/s/f426f6a5b2b0cdb4a35cecde572fe71c34dcfea8e936700482879f9f58d6a95d28c36d2e20500365661349e8ddeafa6d12fbfd2b086cdda7b01b5edf748cb32f1f77394e0809b16b72982182bc953759",
            aLink: "LKQ-18LoFQk",
          }
        );
      }

      let alinks = [];
      for (let i = 0; i < result.length; i++) {
        alinks.push(result[i]["aLink"]);
      }

      var tag = document.createElement("script");
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player("player", {
          height: "0",
          width: "0",
          loadPlaylist: {
            listType: "playlist",
            list: [],
            index: parseInt(0),
            suggestedQuality: "small",
          },
          events: {
            onReady: onPlayerReady,
            onStateChange: onPlayerStateChange,
          },
        });
      }
      function onPlayerReady(event) {
        event.target.loadPlaylist(alinks);
        player.setLoop(true);
      }
      ////////////////
      ///////////////////// 왼오 재생하기
      ///////
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          // setTimeout(stopVideo, 60000);
          done = true;
        }
        if ([-1, 0, 2, 3].includes(player.getPlayerState())) {
          // $("cdImg").stop().animate();
          console.log("정지중");
          $("#player-string").addClass("forStringAni");
          $("#cdImg").removeClass("forCdAni");
        }
        if (1 === player.getPlayerState()) {
          // $("cdImg").stop().animate();
          console.log("재생중");
          $("#player-string").removeClass("forStringAni");
          $("#cdImg").addClass("forCdAni");
        }
        cgimg();
      }

      $("#pause-btn").click(function () {
        player.pauseVideo();
      });

      $("#play-btn").click(function () {
        player.playVideo();
      });

      $("#next-btn").click(function () {
        player.nextVideo();
      });

      $("#previous-btn").click(function () {
        player.previousVideo();
      });
      //////////////////////////////////////////////////
      //////////////// cs이미지변경 및 선 당기기
      //////////

      function cgimg() {
        rid = player.getVideoUrl().split("v=")[1];
        li = player.getPlaylist();
        for (let i = 0; i < li.length; i++) {
          if (rid === li[i]) {
            $("#cdImg").css({
              background: `url(${result[i]["cdImg"]})`,
              "background-repeat": "no-repeat",
              "background-position": "center",
            });
          }
        }
      }

      let stringCount = 1;
      $(function () {
        var pressed;
        var start;
        var startY;

        $("#player-string").mousedown(function (e) {
          //선택
          start = $(this);
          startY = e.pageY;
          orignY = start.offset().top;
          pressed = true;
          stringSound.play();
        });

        $(document).mousemove(function (e) {
          //드래그
          if (pressed) {
            console.log(e.pageY - startY);
            if (e.pageY - startY < 130 && e.pageY - startY > 0) {
              start.offset({ top: orignY + (e.pageY - startY) });
            }
          }
        });
        const stringSound = new Audio();
        stringSound.src =
          "https://drive.google.com/uc?export=download&id=1-_NksOYSkKHm14kC_Gfk6jpRcVDb-boh";

        $(document).mouseup(function () {
          //놓음
          if (pressed) {
            $(start).removeClass("resizing");
            start.offset({ top: orignY });
            pressed = false;
            if (stringCount % 2 == 0) {
              player.pauseVideo();
            } else {
              player.playVideo();
            }
            stringCount += 1;
          }
        });
      });
      ////////////////////////////////
      ///////////////////////// 메뉴바 구현
      /////////////////////////////

      // $(document).on("click", ".menu-btn-new", function (event) {
      //   // alert(`${$(event.currentTarget).children(".getTitle").text()}`);
      //   targetText = $(event.currentTarget).children(".getTitle").text();
      //   for (let i = 0; i < result.length; i++) {
      //     if (result[i]["title"] === targetText) {
      //       player.playVideoAt(i);
      //       return;
      //     }
      //   }
      // });

      // let getTCount = 1;
      // $(".getT").click(function () {
      //   if (getTCount % 2 === 0) {
      //     $("#playlist-box").css("display", "none");
      //   } else {
      //     if (getTCount === 1) {
      //       addBtn();
      //     }
      //     $("#playlist-box").css("display", "flex");
      //   }
      //   getTCount += 1;
      // });

      // function addBtn() {
      //   for (let i = 0; i < result.length; i++) {
      //     let artist = result[i]["artist"];
      //     let title = result[i]["title"];
      //     let aLink = result[i]["aLink"];

      //     let temp_html = `<button name="titleBtn"><span class="getTitle">${title}</span>, ${artist}}</button>`;
      //     $("#playlist-box").append(temp_html);
      //   }
      // }
    </script>
  </body>
</html>
